@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Bitcount Grid Double", sans-serif;
  --font-body: "Tuffy", sans-serif;

  --background-main: url('/src/assets/clean-gray-paper.png');
  --asset-star: url('/src/assets/star-pink.png');
  --asset-star2: url('/src/assets/star2-pink.png');

  --color-base: #566B5D;
  --color-base-light: #9AB6A3;
  --color-accent: #E12AFB;
  --color-accent-light: #C49CCA;
  --color-interactive: #ED6AFF;
  --color-background-light: #DCFCE7;
  --color-background-dark: #222623;
  --color-background-body: var(--color-neutral-200)
}

@layer base {
  .dark {
    --background-main: url('/src/assets/black-paper.png');
    --asset-star: url('/src/assets/star-dark.png');

    --color-base: #DCFCE7;
    --color-base-light: #778D7E;
    --color-accent: #F9CDFF;
    --color-accent-light: #9C859F;
    --color-interactive: #F39FFF;
    --color-background-light: #DCFCE7;
    --color-background-dark: #222623;
    --color-background-body: var(--color-neutral-600)
  }

  body {
    font-family: var(--font-body);
    font-size: var(--text-lg);
    color: var(--color-base);
    background-color: var(--color-background-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
  }

  #root {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    background-color: #DCFCE7;
    background-image: var(--background-main)
  }

  a {
    color: var(--color-accent);

    &:hover {
      color: var(--color-interactive);
    }
  }

  h1 {
    color: var(--color-accent);
    font-size: var(--text-5xl);
    line-height: var(--leading-tight);
    text-wrap: wrap;
  }

  h2 {
    color: var(--color-accent);
    font-family: var(--font-body);
    font-size: var(--text-3xl);
  }

  h3 {
    color: var(--color-base);
    font-size: var(--text-sm);
  }

  button {
    font-size: var(--text-normal);
    color: var(--color-base-light);

    &:hover {
      color: var(--color-accent);
    }

    &:focus {
      color: var(--color-accent);
    }
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  label {
    font-size: var(--text-sm);
    font-weight: bold;
  }

  span {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-accent-light);
  }

}

@layer components {
  .button {
    display: flex;
    justify-items: center;
    align-items: center;
    cursor: pointer;
  }

  .button-primary {
    font-size: 14px;
    color: var(--color-accent);
    border: 1px solid var(--color-accent-light);
    border-radius: 3px;
    padding: 4px 6px 4px 6px;

    &:hover, &:focus {
      color: var(--color-accent);
      border: 1px solid var(--color-interactive);
    }
  }

  .button-secondary {
    font-size: var(--text-sm);
    color: var(--color-base-light);
    border: 1px solid var(--color-base-light);
    border-radius: 3px;
    padding: 4px 6px 4px 6px;

    &:hover, &:focus {
      color: var(--color-accent);
      border: 1px solid var(--color-accent-light);
    }
  }

  .button-tertiary {
    color: var(--color-base);
    height: 24px;
    width: 24px;

    &:hover {
      color: var(--color-accent-light);
    }
  }

  .collection-item-active {
    box-shadow: 0 0 20px 5px var(--color-interactive);
  }

  .image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
    max-width: 100%;
  }

  .image-item {
    &:hover {
      box-shadow: 0 0 20px 5px var(--color-interactive);
    }
  }

  .input {
    border-bottom: 1px solid var(--color-base-light);
    padding: 4px 0 4px 0;

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-base);
    }
  }

  .sidebar {
    top: 0;
    left: 0;
    height: 100dvh;
    min-width: 150px;
    padding: 2rem  3rem 0 3rem;
    background-image: url('./src/assets/clean-gray-paper.png');
    z-index: 5;
  }
}

